html,body
{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden!important; 
}

ul, li {
	margin-top: 10px;
}

table {
	width: 100%;
}

tr {
	border-bottom: 1px solid #DBDBDB;
}

td, th {
	padding: 15px 12px;
}


a[aria-expanded=true] .fa-chevron-down {
	display: None;
}

a[aria-expanded=false] .fa-chevron-up {
	display: None;
}

body {
	font-family: "Open Sans";
	background-color: #efefef;
}

h1 { 
	color: #666;display:inline-block; margin:0;text-transform:uppercase; 
}

.header {
	position: relative;
}

.head-bg {
	background-image: url("../assets/header-background.jpg");
	height: 515px;
	display: block;
	top: 0;
	left: 0;
	right: 0;
	z-index: -1;
	position: absolute;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.navbar {
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19), 0 6px 10px rgba(0, 0, 0, 0.23);
}

.nav-color {
	background-color: #fff!important;
}

.navbar-toggler {
	color: #3d4451!important;
}

.navbar-label {
	color: #3d4451!important;
	font-weight: 700;
	font-size: 18px;
	padding-top: 0px;
}


.nav-item:after {
	display:block;
	content: '';
	border-bottom: solid 3px #0275d8;  
	transform: scaleX(0);  
	transition: transform 250ms ease-in-out;
}

.nav-item:hover:after { 
	transform: scaleX(1); 
}

.navbar-nav {
	float: right!important;
}

.nav-link {
	color: #3d4451!important;
}

.nav-item {
	text-transform: uppercase;
	margin: 0px 40px;
	font-weight: bolder;
	font-size: 13px;

}

.active:after{
	content: '';
	display: block;
	border-bottom: 3px solid #0275d8;
	transform: scaleX(1);
}

.active {
	background-color: transparent!important;
}

.navbar ul {
	margin-top: 0px;
}


.content-container {
	padding-top: 50px;
}

.list-bullets {
	list-style: disc;
	list-style-position: inside;
	text-indent: -1em;
}

.section-title {
	margin-top: 60px;
	margin-bottom: 40px;
	text-transform: None;
	text-align: center;
}

.img-responsive {
	float: center;
	max-width: 100%;
	display: block;
	margin: 10px auto;
}


#home {
	margin-top: 50px;
}

.profile {
	margin-top: 150px;
	padding: 57px 50px 15px 50px;
	background-color: white;
	box-shadow: 0 4px 12px 0 rgba(0,0,0,0.2);
}



.profile-info {
	color: #3d4451;
	padding-bottom: 25px;
	margin-bottom: 25px;
	border-bottom: 1px solid #dedede;
}
.profile-items {
	margin-bottom: 18px;
}

.profile-photo {
	margin-bottom: 10px;
	display: block;
	max-width: 100%;

}

.profile-preword {
	float: left;

}

.profile-triangle-bottom {
	float: left;
	width: 0px;
	height: 0px;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #0275d8;
	clear: both;
	margin-left: 7px;
}

.profile-preword span { 
	background-color: #0275d8;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.1;
	display: inline-block;
	padding: 7px 12px;
	text-transform: uppercase;
	position: relative;
}

.profile-title {
	font-size: 36px;
	line-height: 1.1;
	font-weight: 700;
	margin-bottom: 5px;
}

.profile-title span {
	font-weight: 300;
}

.profile-subtitle {
	font-size: 18px;
	font-weight: 400;
	line-height: 1.1;
	margin-bottom: 0;
}

.profile-prop-title {
	display: block;
	width: 120px;
	float: left;
	color: #333333;
	font-size: 12px;
	font-weight: 700;
	line-height: 20px;
	text-transform: uppercase;

}

.profile-prop-value {
	display: block;
	margin-left: 125px;
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	color: #9da0a7;
}

.profile-social-media {
	background-color: #0275d8;
	padding: 15px 0px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.social { 
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

.social li {
	display: inline-block;
}

.social-circle {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	margin: 5px 40px;
}

.social-circle:hover {
	transition: background-color 1s ease;
	background-color: rgba(0,0,0,0.2);
}

.social li a {
	color: white;
	transition: transition, background-color 0.25s linear 0s;
	vertical-align: middle;
	line-height: 45px;
}

.download-resume {
	text-align: center;
	margin-top: 40px;
}

.download-resume button {
	background-color: rgba(0,0,0,0);
	border: 1px solid #cbcdcf;
	border-radius: 5px;
	padding: 20px 55px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	cursor: pointer;
}

.download-resume button:hover {
	transition: box-shadow 0.25s linear;
	box-shadow: 0 4px 12px 0 rgba(0,0,0,0.2);
}

.download-resume a {
	color: #3d4451;
}

.timeline{
	position: relative;
}

.timeline .timeline-inner {
	position: relative;
}

.timeline .timeline-bar {
	content: '';
	width:4px;
	opacity: 0.4;
	margin-left: -2px;
	position: absolute;
	left: 50%;
	top: 0;
	height: 100%;
	background-color: #0275d8;
}

.timeline-box {
	width: 100%;
	color: #757575;
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 50px;
	position: relative;
	margin-left: 0;
	margin-right: 0;
}

.timeline-box-last {
	margin-bottom: 0px;
}

.timeline-box-inner {
	border-color: #0275d8;
	margin-left: 0px;
	margin-right: 0px;
	padding: 20px 5%;
	position: relative;
	border-width: 5px 0 0px 0;
	border-radius: 0px;
	border-style: solid;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.timeline tbody th {
	font-weight: 300;
}

.timeline-header {
	text-align: center;
	margin-bottom: 30px;
}

.timeline-date {
	color: #0275d8;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	line-height: 1;
}

.timeline-logo {
	max-width: 30%;
	margin-top: 30px;
	margin-bottom: 10px;
}

.timeline-header h4 {
	color: #878787;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.1;
	text-transform: uppercase;
	text-align: center;
	margin: 15px 0 0 0;
}

.skill-last-entry {
	border-width: 0px;
}

.honors-row {
	margin: 0px 10px;
	padding: 20px 0px;
	border-bottom: 1px solid #DBDBDB;
}

.project {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 20px;
	margin-bottom: 100px;
	position: relative;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 5px;
}

.project-image {
	width: 100%;
	max-height: 300px;
	border-radius: 5px 5px 0px 0px;
}

.project-body {
	padding: 20px 5%;
}

.project-footer {
	background-color: #0275d8;
	padding: 10px 5%;
	border-radius: 0px 0px 5px 5px;
	box-shadow: 0px 2px 8px 0 rgba(0,0,0,0.2);
	margin-top: 20px;
}

.project-title {
	padding-top: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #dedede;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	color: #666;
}

.project-blurb {
	margin-top: 20px;
}

.project-text {
	color: #666;
}

.project-expandable {
	text-align: center;
	color: white;
	display:block;
	line-height: 45px;
}

.project-expandable:hover {
	color: #ddd;
}

.project-expandable:active, .project-expandable:visited, a:focus {
	color: white;
}

.project-icon-circle {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	float:center;
	margin: 0 auto;
}

.project-icon-circle:hover {
	transition: background-color 1s ease;
	background-color: rgba(0,0,0,0.2);
}

.project-image-body {
	margin-top: 30px;
	margin-bottom: 30px;
}

.project-date {
	color: #878787;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.1;
	text-transform: uppercase;
	text-align: center;
}

.footer {
	background-color: #fff;
	padding: 10px 0 10px 0;
	color: #666;
	text-align: center;
	font-size: 12px;
	box-shadow: 0px 2px 8px 0 rgba(0,0,0,0.2);
}


@media (max-width: 767px) {
	.profile {
		padding: 30px 20px 15px 20px;
		margin-top: 30px;
	}

	.profile-photo {
		margin: 0 auto 10px auto;
		text-align: center;
	}

	.profile-prop-title {
		width: 100%;
		float: none;
		line-height: 1.2;
		margin-bottom: 3px;
	}

	.profile-prop-value {
		margin-left: 0;
		margin-bottom: 15px;
		width: 100%;
		float: none;
		line-height: 1.2;
	}

	.timeline-logo {
		max-width: 50%;
	}
}

@media (max-width: 575px) {

	.active {
		border-bottom: none;
	}

	.nav-link:hover {
		animation-name: none;
	}

	.nav-item:hover:after { 
		transform: scaleX(0); 
	}

	.active:after{
		content: '';
		display: block;
		border-bottom: 3px solid #fff;
		transform: scaleX(0);
	}

	.navbar-nav {
		float: none!important;
	}

}


.no-border {
	border-width: 0px;
}