
#download-resume {
	margin-top: 30px;
}

a[aria-expanded=true] .fa-plus {
	display: None;
}

a[aria-expanded=false] .fa-minus {
	display: None;
}

.content-container {
	padding-top: 50px;
}

.list-bullets {
	list-style: circle;
	list-style-position: inside;
}


.title {
	margin-top: 10px;
}

.card-text {
	margin-left: 10px;
	margin-right: 10px;
}

.hr-dark {
	margin: 10px;
}

.section-title {
	margin-top: 30px;
	margin-bottom: 30px;
}

.img-responsive {
	float: center;
	max-width: 100%;
	display: block;
	margin: 10px auto;
}

.right {
	float:right;
}

.text-italics {
	font-style: italic;
}

.resume-break {
	width:100%;
	border: 1px solid #DBDBDB;
	margin-top: 15px;
	margin-bottom: 15px;
}

.resume-section-wrapper {
	margin-left: 15px;
	margin-right: 15px;
}

.resume-section-header {
	font-size: 1.25em;
}

.project-wrapper {
	display: inline-block;
	margin-top: 50px;
	margin-bottom: 50px;
}

ul, li {
	margin-top: 10px;
}

table {
	width: 100%;
}

tr {
	border-bottom: 1px solid #DBDBDB;
}

td, th {
	padding: 15px 12px;
}